<h2>My Heroes</h2>
<ul class="heroes">
  <!-- 
    REPEATER DIRECTIVE - *ngFor=""
    <li> is the host element
    heroes is the component property array
    hero holds the current hero object for each iteration
  
    EVENT BINDING - (event)=""
    listens for click event -> execute expression

    CLASS BINDING - [class.<classname>]=""
    adds class <classname> to element when the expression evaluates true
  -->
  <li *ngFor="let hero of heroes">
    <a routerLink="/detail/{{hero.id}}">
      <span class="badge">{{hero.id}}</span> {{hero.name}}
    </a>
  </li>
</ul>
